/* p{
    position: static;
} */

div{
    display: inline-block;
    width:200px;
    height:200px;
    background-color: aqua;
    border:1px solid black;
}

#box3 {
    /* width:200px;
    height:200px;
    background-color: aqua;
    border:1px solid black; */
    /* position: relative;
    left: 15px;
    top: 15px; */
    position:relative;
    left: 50px;
    top:100px;
}
#box1{
    position: fixed;
}

#box4{
    position: sticky;
    top: 0px;
}

.wrapper{
    height:100vw;
    width:1000px;
    background-color: yellow;
    overflow-x: hidden; 
}

