/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.container{
    background-color: brown;            /*set background color of container*/
    height: 500px;                        /*set height*/
    border: 3px solid black;
    display: grid;                        /*activate grid*/


    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 80px 80px 80px 80px; */

    /* grid-template-columns: 1fr 1fr 1fr;    'fr'-> fraction tag */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(4, 1fr); */

    /* grid-template-columns: 200px repeat(2, 1fr) ;
    grid-template-rows:  repeat(5,1fr) ; */

    grid-template-columns:  150px 1fr 1fr  150px;
    grid-template-rows: 30px 1fr 30px;

    gap: 2px;
}   

.box{
    background-color: aqua;             /*set BG color of grid items*/
    border: 3px solid black;            /*set border*/
    /* width: 80px;
    height: 80px;                          Making  height */
}

#box3{
    grid-column-start: 2 ;
    grid-column-end: 4;
}

#box4, #box1{
    grid-column-start: 1;
    grid-column-end: 5;
}

 /* #box3{
    grid-row-start: 1;
    grid-row-end: 2;
 }